﻿@{
    Layout = null;
}
<!doctype html>
<html>
<head>
    <title>Hello ASP.NET</title>
    <meta charset="utf-8" />
</head>
<body>
<h3><a href='@Url.Action("balance", "Parking")'>Balance</a></h3>
<h3><a href='@Url.Action("capacity", "Parking")'>Capacity</a></h3>
<h3><a href='@Url.Action("freePlaces", "Parking")'>Free Places</a></h3>
<h3><a href='@Url.Action("addRandom", "Vehicles")'>Add random vehicle</a></h3>
<h3><a href='@Url.Action("GetVehicles", "Vehicles")'>Vehicles</a></h3>
<h3><a href='@Url.Action("GetLastTransactions", "Transactions")'>Last transactions</a></h3>
<h3><a href='@Url.Action("GetLoggedTransactions", "Transactions")'>Logged transactions</a></h3>
</body>
</html>